.spotpage{
   margin-left: 230px;
   margin-right: 230px;
}
.spotinfo{
    display: flex;
    align-items: center;
    gap:10px;
}
.reviewlink{
    text-decoration: underline;
    cursor: pointer;
}
.infoitem{
    display: flex;
    align-items: center;
    gap:15px;
}

.infotext{
    padding-left: 30px;
}

.infosection{
    display: flex;
    border-bottom: 2px solid rgb(0, 0, 0,10%);
    padding-bottom: 5vh;
    justify-content: space-between;
}

.info-title{
    
    border-bottom: 2px solid rgb(0, 0, 0,10%);
}
.info-left{
    width: 40vw;
}
.info-right{
    border: 1px solid rgb(221, 221, 221);
    width: 20vw;
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    margin-top: 20px;
}

.right-right{
    display: flex;
    align-items: center;
}

.right-left{
    display: flex;
    align-items: center;
    gap:5px;
}
.right-top{
    display: flex;
    justify-content:space-between;
}

.info-right{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.addreview{

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border:1px solid #E61E4D; 
    background-color: #E61E4D;
    color: white;
    border-radius: 10px;
    height: 10vh;
}

.reviewbar{
    display: flex;
    align-items: center;
    gap:5px;
}

.hide{
    display: none;
}

.singlespot-imgsection{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-auto-rows: minmax(100px,auto);
    grid-template-areas: 
    "image0 image1 image3"
    "image0 image2 image4"
    ;
    gap: 2vh;
    overflow: hide;
}

.siglespot-image{
    object-fit: cover;
    /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; */
}

.image0{
    grid-area: image0;
    /* height: 70vh; */
    width: 32vw;
    height: 52vh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.image1{
    grid-area: image1;
    height: 25vh;
    width: 18vw;
}

.image2{
    grid-area: image2;
    height: 25vh;
    width: 18vw;
}

.image3{
    grid-area: image3;
    height: 25vh;
    width: 18vw;
    border-top-right-radius: 20px;
}

.image4{
    grid-area: image4;
    height: 25vh;
    width: 18vw;
    border-bottom-right-radius: 20px;
}