.spotform-form{
    display: flex;
    flex-direction:column; 
    padding-top: 10px;
    gap:10px;
}
.input{
    width: 100%;
}
.spotbutton{
    width: 100%;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #E61E4D;
    background-color: #E61E4D;
    color: white;
    height: 40px;
}
.spotbutton:hover{
    background-color: rgb(230, 30, 77,85%);
}

.spotform-errors{
    color: rgb(79, 78, 78);
    gap: 10px;
}

.spotform-section{
    display: flex;
    
}

.spotform-errorsec{
    width: 20vw;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 20px;
    padding: 24px;
}

.ertlbu{
    color: #c13515;
    font-size: 25px;
}

.error-title{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0,10%);
    border-radius: 10px;
    padding: 20px;
    gap:10px
}

.spotform-title{
    text-align: center;
    font-family: 'Figtree';
    color: rgb(0, 0, 0,70%);
    border-bottom: 1px solid rgb(0, 0, 0,10%);
    padding-bottom: 20px;
 }

.spotform-neweditspot{
    display: flex;
    flex-direction: column;
    border:1px solid rgb(0, 0, 0,30%);
    border-radius: 10px;
    padding: 10px;
}
