.address{
    display: flex;
    gap:10px;
}

.Landing-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 6.5vw;
    padding-right: 6.5vw; */
    padding-top: 20px;
    padding-bottom: 40px;
}

.listitem{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap:30px;
   
}
div.listitem a{
    color: black;
    text-decoration:none;
}

.item{
    color:white;
    gap:50px;
    width: 322px;
    border-radius: 10px;
}

.address{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    font-weight: bold;
}


div.itemimg img{
    width: 322px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.listitem > i {
    width: 322px;
}