/* TODO Add site wide styles */
.rootchild{
    width: 100%;
    /* padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 2vh; */
    font-family: 'Figtree',system-ui, -apple-system, BlinkMacSystemFont,'Helvetica Neue', sans-serif;
    font-size: 14px;
    background-color: #fff;
}

input{
    border-radius: 5px;
    border: none;
    outline: none;
}

textarea{
    border-radius: 5px;
    border: none;
    outline: none;
}


#modal-content{
    border-radius: 10px;
 }