.hidden{
    display: none
}

.bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.logo {
    color: #ff385c;
}

.menu{
    /* color: #ff385c; */
    position: relative;
    z-index: 10;
}